<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.log">
  <targets>
    <target xsi:type="File" name="MyLog" fileName="${basedir}/Logs/System.log" 
                 archiveFileName="${basedir}/archives/System.{#}.log"
                 archiveEvery="Day"
                 archiveNumbering="Rolling"
                 maxArchiveFiles="3"
                 enableArchiveFileCompression="false"
                 layout="【${longdate:format=yyyy-MM-dd HH\:mm\:ss}】【${uppercase:${level}}】【${message}】"
                 encoding="utf-8"/>
    <target xsi:type="Null" name="NullFile" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Error" writeTo="NullFile" final="true" />
    <logger name="*" minlevel="Warn" writeTo="MyLog" />
  </rules>
</nlog>